{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ user.name }} Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- Content For Sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="">Lahh4.0</a>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Admin Elements
                    </li>
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="recharge" class="sidebar-link collapsed" data-bs-target="#posts"
                            aria-expanded="false"><i class="fa-solid fa-list pe-2"></i>
                            Top Up
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#auth"
                            aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                            Profile
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="{% static 'image/profile.jpg'%}" class="avatar img-fluid rounded" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="{% url 'logout'%}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h4> {{user.name}} Dashboard</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-fill border-0 illustration">
                                <div class="card-body p-0 d-flex flex-fill">
                                    <div class="row g-0 w-100">
                                        <div class="col-6">
                                            <div class="p-3 m-1">
                                                <h4>Welcome Back, {{user.name}}!</h4>
                                                <p class="mb-0">{{user.name}}, Lahh 4.0</p>
                                            </div>
                                        </div>
                                        <div class="col-6 align-self-end text-end">
                                            <img src="{% static 'image/customer-support.jpg'%}" class="img-fluid illustration-img"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-fill border-0">
                                <div class="card-body py-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h4 class="mb-2">
                                                Rp {{user.balance}}
                                            </h4>
                                            <p class="mb-2">
                                                Current Balance
                                            </p>
                                            <div class="mb-0">
                                                <a href="{% url 'recharge'%}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center btn-outline-secondary" onclick="">Gimme Moar!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table Element -->
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                                <h4 class="card-subtitle text-muted">
                                    Your Containers
                                </h4>
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addItemModal">
                                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                                        New Container
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="border-bottom text-center align-middle" scope="col">Name</th>
                                        <th class="border-bottom text-center align-middle" scope="col">Image</th>
                                        <th class="border-bottom text-center align-middle" scope="col">Port</th>
                                        <th class="border-bottom text-center align-middle" scope="col">RAM</th>
                                        <th class="border-bottom text-center align-middle" scope="col">Core</th>
                                        {% comment %} <th class="border-bottom text-center align-middle" scope="col">Usage Time</th> {% endcomment %}
                                        <th class="border-bottom text-center align-middle" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for container in containers %}
                                        <tr>
                                            <td class="text-center align-middle">{{ container.ContainerName }}</td>
                                            <td class="text-center align-middle">Ubuntu 20.04.6</td>
                                            <td class="text-center align-middle">{{ container.ContainerPort }}</td>
                                            <td class="text-center align-middle"> {{ container.ContainerRam }}</td>
                                            <td class="text-center align-middle">
                                                {% if container.ContainerCore == 1 %}
                                                    Single
                                                {% else %}
                                                    Double
                                                {% endif %}
                                            </td>
                                            {% comment %} <td class="text-center align-middle">2 Hours 17 Minutes 10 Seconds</td> {% endcomment %}
                                            <td class="text-center align-middle">
                                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                {% if container.IsStopped %}
                                                    <form action="{% url 'start_container' %}"  method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-success">
                                                            <input type="hidden" name="container_id" value="{{ container.ContainerID }}">
                                                            <i class="bi bi-play-fill"></i>
                                                        </button>
                                                    </form>
                                                {% elif container.IsPaused %}
                                                <form action="{% url 'unpause_container' %}"  method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-success">
                                                            <input type="hidden" name="container_id" value="{{ container.ContainerID }}">
                                                            <i class="bi bi-play-fill"></i>
                                                        </button>
                                                </form>
                                                {% else %}
                                                    <form action="{% url 'pause_container' %}"  method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-success">
                                                            <input type="hidden" name="container_id" value="{{ container.ContainerID }}">
                                                            <i class="bi bi-pause-fill"></i>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                                    <form action="{% url 'stop_container' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="container_id" value="{{ container.ContainerID }}">
                                                        <button type="submit" class="btn btn-warning">
                                                            <i class="bi bi-stop-fill"></i>
                                                        </button>
                                                    </form>
                                                    <form action="{% url 'delete_container' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="container_id" value="{{ container.ContainerID }}">
                                                        <button type="submit" class="btn btn-danger">
                                                            <i class="bi bi-trash-fill"></i>
                                                        </button>
                                                    </form>
                                                    <div data-bs-toggle="modal" data-bs-target="#editModal{{ container.ContainerID }}">
                                                        <button class="btn btn-success">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </button>
                                                    </div>
                                                    <form id="logForm" method="POST" action="{% url 'logs' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" id="containerId" name="container_id" value="{{ container.ContainerID }}">
                                                        <button type="submit" class="btn btn-warning" title="See Logs">
                                                            <i class="bi bi-file-earmark-fill"></i>
                                                        </button>
                                                    </form>
                                                    
                                                    {% comment %} Modal For Edit Container {% endcomment %}
                                                    <div class="modal fade" id="editModal{{ container.ContainerID }}" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="addItemModalLabel">Edit Your Container</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'edit_container' %}" method="POST" id="editForm">
                                                                {% csrf_token %}
                                                                    <input type="hidden" name="container_id" value="{{ container.ContainerID }}">
                                                                    <div class="mb-3">
                                                                        <label for="RAM">RAM</label>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="radio" name="NewRam" value="256" id="RAM">
                                                                            <label class="form-check-label" for="ram1">
                                                                                256 GB
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="radio" name="NewRam" value="512" id="RAM">
                                                                            <label class="form-check-label" for="ram1">
                                                                                512 GB
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary w-100">Update</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6" class="text-center">No containers found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a href="#" class="text-muted">
                                    <strong>Lahh 4.0</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalLabel">Add New Container</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'create_container' %}" method="POST" id="addItemForm">
                    {% csrf_token %}
                        <div class="mb-3">
                            <label for="containerName" class="form-label">Container Name</label>
                            <input type="text" class="form-control" name="container_name" id="containerName" required>
                        </div>
                        <div class="mb-3">
                            <label for="container_password" class="form-label">Container Password</label>
                            <input type="password" class="form-control" name="container_password" id="containerName" required>
                        </div>
                        <div class="mb-3">
                            <label for="RAM">RAM</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ram" value="256" id="RAM">
                                <label class="form-check-label" for="ram1">
                                    256 GB
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ram" value="512" id="RAM">
                                <label class="form-check-label" for="ram1">
                                    512 GB
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">

                            <label for="Core">Core</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="core" value="1" id="Core">
                                <label class="form-check-label" for="core">
                                    Single
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="core" value="2" id="Core">
                                <label class="form-check-label" for="core">
                                    Double
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'script.js'%}"></script>
</body>

</html>
