{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <script
      src="https://kit.fontawesome.com/ae360af17e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="wrapper">
      <aside id="sidebar" class="js-sidebar">
        <!-- Content For Sidebar -->
        <div class="h-100">
          <div class="sidebar-logo">
            <a href="">El Ducka</a>
          </div>
          <ul class="sidebar-nav">
            <li class="sidebar-header">Admin Elements</li>
            <li class="sidebar-item">
              <a href="{% url 'index'%}" class="sidebar-link">
                <i class="fa-solid fa-list pe-2"></i>
                Dashboard
              </a>
            </li>
            <li class="sidebar-item">
              <a
                href=""
                class="sidebar-link collapsed"
                data-bs-target="#posts"
                aria-expanded="false"
                ><i class="fa-solid fa-list pe-2"></i>
                Top Up
              </a>
            </li>
            <li class="sidebar-item">
              <a
                href="#"
                class="sidebar-link collapsed"
                data-bs-target="#auth"
                aria-expanded="false"
                ><i class="fa-regular fa-user pe-2"></i>
                Profile
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
          <button class="btn" id="sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse navbar">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                  <img
                    src="{% static 'image/profile.jpg'%}"
                    class="avatar img-fluid rounded"
                    alt=""
                  />
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a href="#" class="dropdown-item">Profile</a>
                  <a href="#" class="dropdown-item">Setting</a>
                  <a href="{% url 'logout'%}" class="dropdown-item">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <main class="content px-3 py-2">
          <div class="container-fluid">
            <main class="content px-3 py-2">
              <div class="container-fluid center">
                <h4 class="mb-3">Top Up! Give us da money!</h4>
                <div class="container-fluid center">
                  <img
                    src="{% static 'image/Gopay.png'%}"
                    alt=""
                    height="100"
                  />
                </div>
                <form method="POST" action="{% url 'recharge'%}">
                  {% csrf_token %}
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="nominal" class="form-label">Nominal</label>
                      <input
                        type="number"
                        name="gross_amount"
                        class="form-control"
                        id="nominal"
                        placeholder="How much do ya want, dude?"
                        step="10000"
                        required
                      />
                    </div>
                  </div>

                  <hr class="my-4" />

                  <h4 class="mb-3">Payment</h4>

                  <div class="my-3">
                    <div class="form-check">
                      <input
                        id="credit"
                        type="radio"
                        class="form-check-input"
                        checked
                        required
                      />
                      <label class="form-check-label" for="credit">Gopay</label>
                    </div>
                  </div>

                  <hr class="my-4" />

                  <button
                    class="w-100 btn btn-sm btn-dark d-flex justify-content-center align-items-center"
                    type="submit"
                    >Continue to checkout</button
                  >
                </form>
              </div>
            </main>
          </div>
        </main>

        <a href="#" class="theme-toggle">
          <i class="fa-regular fa-moon"></i>
          <i class="fa-regular fa-sun"></i>
        </a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'script.js'%}"></script>
  </body>
</html>
